repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6  # Use the latest stable release
    hooks:
      - id: ruff # run the linter
        args: [ --fix ]
        stages: [pre-commit]  # Only run on staged files
      - id: ruff-format # run the formmatter
        stages: [pre-commit]  # Only run on staged files

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the latest stable release
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
