atomicwrites==1.2.1
attrs==18.2.0
bandit==1.5.1
bleach==3.0.2
certifi==2018.4.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
docutils==0.14
dparse==0.4.1
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
more-itertools==4.3.0
packaging==18.0
pbr==5.1.1
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.0.2
PyYAML==3.13
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
safety==1.8.4
six==1.12.0
smmap2==2.0.5
stevedore==1.30.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.23
webencodings==0.5.1
