atomicwrites==1.2.1
attrs==18.2.0
bleach==3.0.2
certifi==2018.4.16
chardet==3.0.4
colorama==0.4.1
docutils==0.14
idna==2.7
more-itertools==4.3.0
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
Pygments==2.3.1
pytest==4.0.2
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
six==1.12.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.23
webencodings==0.5.1
